<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
		<head>
		<meta charset="UTF-8" />
		<title>Login</title>
				<link rel="stylesheet" type="text/css" th:href="@{/css/table-responsive.css}" />
				<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
				<link rel="stylesheet" type="text/css" th:href="@{/css/style-responsive.css}" />
				<link rel="stylesheet" type="text/css" th:href="@{/css/to-do.css}" />
				<link rel="stylesheet" type="text/css" th:href="@{/css/zabuto_calendar.css}" />
				<link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" />
				<link rel="stylesheet" type="text/css" th:href="@{/lib/font-awesome/css/font-awesome.css}" />
		
		</head>			
<body th:style="'background-image:url(' + @{forage.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">

	
  <section id="container">
	

<!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
  <div id="login-page">
    <div class="container">
          	<h3 style="text-align:center">SEN-FORAGE Authentification</h3>
    
      <form class="form-login" th:action="@{login}" method="POST">
        <h2 class="form-login-heading">Connectez-vous.</h2>
        <div class="login-wrap">
          <input type="text" class="form-control" name="username" placeholder="Username" autofocus>
          <br>
          <input type="password" class="form-control" name="password" placeholder="Mot de pass">
          <label class="checkbox">
            <input type="checkbox" value="remember-me"> Se souvenir de moi
            <span class="pull-right">
            <a data-toggle="modal" href="login.html#myModal"> Mot de pass Oublie?</a>
            </span>
            </label>
          <!--  <button class="btn btn-theme btn-block" href="http://localhost:8080/SEN_FORAGE/clients/index.jsp" type="submit"><i class="fa fa-lock"></i> Connection</button>-->
          <div class="group">
					<input type="submit" class="button" value="Sign In">
		  </div>
          <hr>
         <!--   <div class="login-social-link centered">
            <p>or you can sign in via your social network</p>
            <button class="btn btn-facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
            <button class="btn btn-twitter" type="submit"><i class="fa fa-twitter"></i> Twitter</button>
          </div>-->
          <div class="registration">
            Je n'ai pas de compte<br/>
            <a class="" href="http://localhost:8080/SEN_FORAGE/clients/inscription.jsp">
              Inscription.
              </a>
          </div>
        </div>
        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Forgot Password ?</h4>
              </div>
              <div class="modal-body">
                <p>Enter your e-mail address below to reset your password.</p>
                <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
              </div>
              <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                <button class="btn btn-theme" type="button">Submit</button>
              </div>
            </div>
          </div>
        </div>
        <!-- modal -->
      </form>
    </div>
  </div>
 
   <!--footer start-->
    <footer class="site-footer">
      <div class="text-center">
        <p>
          &copy; Copyrights <strong>Dashio</strong>. All Rights Reserved
        </p>
        <div class="credits">
          <!--
            You are NOT allowed to delete the credit link to TemplateMag with free version.
            You can delete the credit link only if you bought the pro version.
            Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
            Licensing information: https://templatemag.com/license/
          -->
          Created with Dashio template by <a href="https://templatemag.com/">TemplateMag</a>
        </div>
        <a href="basic_table.html#" class="go-top">
          <i class="fa fa-angle-up"></i>
          </a>
      </div>
    </footer>
    <!--footer end-->
  </section>
		
		
	<!-- js placed at the end of the document so the pages load faster -->
	<script type="text/javascript" th:src="@{/lib/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/lib/jquery.dcjqaccordion.2.7.js}"></script>
	<script type="text/javascript" th:src="@{/lib/jquery.scrollTo.min.js}"></script>
	<script type="text/javascript" th:src="@{/lib/jquery.nicescroll.js}"></script>
	<script type="text/javascript" th:src="@{/lib/common-scripts.js}"></script>
	<script>
    $.backstretch("forage.jpg", {
      speed: 500
    });
  </script>
				
</body>
</html>